@using PagedList.Core.Mvc;

@model PagedList.Core.IPagedList<WebShop.Models.Product>

@{
    Category category = ViewBag.CurrentCat;
    ViewData["Title"] = category.Title + " " + ViewBag.CurrentPage;
    Layout = "~/Views/Shared/_Layout.cshtml";
    int PageCurrent = ViewBag.CurrentPage;

    int PageNext = PageCurrent + 1;
}


<!-- Begin Main Content Area -->
<main class="main-content">
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <!-- Shop Section Begin -->
    <section class="shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="shop__sidebar">
                        <div class="shop__sidebar__search">
                           
                        </div>
                          <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                        <div class="card">
                        <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseOne">Danh Mục</a>
                        </div>
                        <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                        <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                            <li><a href="https://localhost:44391/1036">Đèn trợ sáng </a></li>
                            <li><a href="https://localhost:44391/1037">Mạch đèn </a></li>
                            <li><a href="https://localhost:44391/1038">Khóa chống trộm </a></li>
                            <li><a href="https://localhost:44391/1039">Combo tiết kiệm </a></li>
                            <li><a href="https://localhost:44391/1040">Đồ chơi xe máy </a></li>
                            <li><a href="https://localhost:44391/1041">Phụ kiện phượt</a></li>
                            <li><a href="https://localhost:44391/1042">Đồ đi mưa </a></li>
                            @* <li><a href="https://localhost:44391/Qu%E1%BA%A7n%20Jeans">Quần Jeans </a></li>
                            <li><a href="https://localhost:44391/Gi%C3%A0y%20d%C3%A9p">GIày dép </a></li> *@
                        </ul>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="card">
                        <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseTwo">Thương hiệu</a>
                        </div>
                        <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                        <div class="shop__sidebar__brand">
                        <ul>
                             <li><a href="#">Honda</a></li>
                             <li><a href="#">Yamaha</a></li>
                             <li><a href="#">Suzuki</a></li>
                             <li><a href="#">Khác</a></li>
                        </ul>
                        </div>
                        </div>
                        </div>
                        </div>
                        <div class="card">
                        <div class="card-heading">
                        <a data-toggle="collapse" data-target="#collapseThree">Giá</a>
                        </div>
                        <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                        <div class="card-body">
                        <div class="shop__sidebar__price">
                 
                        </div>
                        </div>
                        </div>
                        </div>
                        
                      
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="shop__product__option">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__left">
                                    <p>Showing 1–12 of 126 results</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="shop__product__option__right">
                                    <p>Sort by Price:</p>
                                    <select>
                                        <option value="">Low To High</option>
                                        <option value="">$0 - $55</option>
                                        <option value="">$55 - $100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @if (Model != null && Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {
                                string url = $"/{item.Alias}-{item.ProductId}.html";
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg">
                                            <a href="@url">
                                                <img src="~/images/products/@item.Thumb" alt="@item.Title">
                                            </a>
                                      
                                        </div>
                                        <div class="product__item__text">
                                            <h6>@item.ProductName</h6>
                                            @*  <a href="javascript:void(0)" class="add-to-cart">+ Add To Cart</a>*@
                                            <div class="rating">
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <h5><span class="new-price">@item.Price.Value.ToString("#,##0") VNĐ</span></h5>
                                            <div class="product__color__select">
                                                <label for="pc-4">
                                                    <input type="radio" id="pc-4">
                                                </label>
                                                <label class="active black" for="pc-5">
                                                    <input type="radio" id="pc-5">
                                                </label>
                                                <label class="grey" for="pc-6">
                                                    <input type="radio" id="pc-6">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->
</main>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<!-- Main Content Area End Here -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $(function () {
                $(".add-to-cart").click(function () {
                    var productid = $('#ProductId').val();
                    var soluong = $('#txtsoluong').val();
                    $.ajax({
                        url: '/api/cart/add',
                        type: "POST",
                        dataType: "JSON",
                        data: {
                            productID: productid,
                            amount: soluong + 1
                        },
                        success: function (response) {
                            loadHeaderCart();
                            location.reload();
                        },
                        error: function (error) {
                            alert("There was an error posting the data to the server" + error.responseText);
                        }
                    });
                });
            });
        });

        function loadHeaderCart() {
            $("#miniCart").load("/AjaxContent/HeaderCart");
            $("#numberCart").load("/AjaxContent/NumberCart");
        }

    </script>
}